Repository lancedb/lancedb: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, fmt, cargo-check, clippy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.2.2
    hooks:
    - id: ruff
- repo: local
  hooks:
    - id: local-biome-check
      name: biome check
      entry: npx @biomejs/biome check --config-path nodejs/biome.json nodejs/
      language: system
      types: [text]
      files: "nodejs/.*"
      exclude: nodejs/lancedb/native.d.ts|nodejs/dist/.*
- repo: local
  hooks:
  - id: fmt
    name: cargo fmt
    description: Format files with cargo fmt.
    entry: cargo fmt
    language: system
    types: [rust]
    args: [--]
    files: '.*\.rs$'

  - id: cargo-check
    name: cargo check
    description: Check the package for errors.
    entry: cargo check
    language: system
    types: [rust]
    pass_filenames: false
    args: [--all]
    files: '.*\.rs$'

  - id: clippy
    name: cargo clippy
    description: Lint rust sources
    entry: cargo clippy
    language: system
    args: [--workspace, --, -D, warnings]
    types: [rust]
    pass_filenames: false
    files: '.*\.rs$'

docs: fix docs examples for Jina
  docs/src/embeddings/default_embedding_functions.md
Due: none

refactor: update type hint and remove unused import (#1436)
  python/python/lancedb/rerankers/linear_combination.py
Due: none

docs: add jina reranker to index (#1427)
  docs/mkdocs.yml
  docs/src/embeddings/default_embedding_functions.md
  docs/src/reranking/index.md
  python/python/lancedb/embeddings/jinaai.py
Due: none

add fine tuning docs & fixes
  docs/mkdocs.yml
  docs/src/embeddings/default_embedding_functions.md
  docs/src/guides/tuning_retrievers/1_query_types.md
  docs/src/guides/tuning_retrievers/2_reranking.md
  docs/src/guides/tuning_retrievers/3_embed_tuning.md
  docs/src/notebooks/embedding_tuner.ipynb
  docs/src/notebooks/lancedb_reranking.ipynb
Due: none

update
  docs/src/guides/tuning_retrievers/3_embed_tuning.md
  docs/src/notebooks/embedding_tuner.ipynb
Due: none

feat(nodejs): update values & valuesSql
  nodejs/__test__/table.test.ts
  nodejs/lancedb/remote/table.ts
  nodejs/lancedb/table.ts
  nodejs/lancedb/util.ts
Due: local-biome-check

update tosql fn
  nodejs/lancedb/util.ts
Due: local-biome-check

Apply suggestions from code review
  docs/src/basic.md
Due: none

docs(nodejs): add @lancedb/lancedb examples everywhere (#1411)
  .gitignore
  .pre-commit-config.yaml
  docs/src/ann_indexes.md
  docs/src/basic.md
  docs/src/basic_legacy.ts
  docs/src/embeddings/embedding_functions.md
  docs/src/embeddings/index.md
  docs/src/guides/storage.md
  docs/src/guides/tables.md
  docs/src/search.md
  docs/src/sql.md
  nodejs/__test__/tsconfig.json
  nodejs/biome.json
  nodejs/examples/.gitignore
  nodejs/examples/ann_indexes.ts
  nodejs/examples/basic.ts
  nodejs/examples/embedding.ts
  nodejs/examples/filtering.ts
  nodejs/examples/jsconfig.json
  nodejs/examples/package-lock.json
  nodejs/examples/package.json
  nodejs/examples/search.ts
  nodejs/native.d.ts
  rust/lancedb/examples/openai.rs
Due: local-biome-check, fmt, cargo-check, clippy

escape single quotes
  nodejs/lancedb/util.ts
Due: local-biome-check

add more tests and support for byte types
  nodejs/__test__/util.test.ts
  nodejs/lancedb/util.ts
Due: local-biome-check

feat(nodejs): `update({values | valuesSql})` (#1439)
  nodejs/__test__/table.test.ts
  nodejs/__test__/util.test.ts
  nodejs/lancedb/remote/table.ts
  nodejs/lancedb/table.ts
  nodejs/lancedb/util.ts
Due: local-biome-check

Update __init__.py
  python/python/lancedb/__init__.py
Due: none

docs: add fine tuning section in retriever guide and minor fixes (#1438)
  docs/mkdocs.yml
  docs/src/embeddings/default_embedding_functions.md
  docs/src/guides/tuning_retrievers/1_query_types.md
  docs/src/guides/tuning_retrievers/2_reranking.md
  docs/src/guides/tuning_retrievers/3_embed_tuning.md
  docs/src/notebooks/embedding_tuner.ipynb
  docs/src/notebooks/lancedb_reranking.ipynb
Due: none

use local path for lance 14.1
  Cargo.toml
  rust/lancedb/src/table.rs
Due: fmt, cargo-check, clippy

chore: bump lance to 0.14.1
  Cargo.toml
  python/pyproject.toml
Due: none

fix
  rust/lancedb/src/table.rs
Due: fmt, cargo-check, clippy

chore: bump lance to 0.14.1 (#1442)
  Cargo.toml
  python/pyproject.toml
  rust/lancedb/src/table.rs
Due: fmt, cargo-check, clippy

add test
  python/python/tests/test_table.py
Due: none

add binary conversion
  python/python/lancedb/util.py
  python/python/tests/test_table.py
Due: none

fix typo in binary coding
  python/python/tests/test_table.py
Due: none

feat: support update over binary field (#1440)
  python/python/lancedb/util.py
  python/python/tests/test_table.py
Due: none

chore: typing for lance.connect (#1441)
  python/python/lancedb/__init__.py
Due: none

Bump version: 0.10.0-beta.0 → 0.10.0
  python/.bumpversion.toml
  python/Cargo.toml
Due: none

Bump version: 0.9.0 → 0.10.0-beta.0
  python/.bumpversion.toml
  python/Cargo.toml
Due: none

Bump version: 0.7.0-beta.0 → 0.7.0
  .bumpversion.toml
  node/package.json
  nodejs/npm/darwin-arm64/package.json
  nodejs/npm/darwin-x64/package.json
  nodejs/npm/linux-arm64-gnu/package.json
  nodejs/npm/linux-x64-gnu/package.json
  nodejs/npm/win32-x64-msvc/package.json
  nodejs/package.json
  rust/ffi/node/Cargo.toml
  rust/lancedb/Cargo.toml
Due: local-biome-check

Bump version: 0.6.0 → 0.7.0-beta.0
  .bumpversion.toml
  node/package.json
  nodejs/npm/darwin-arm64/package.json
  nodejs/npm/darwin-x64/package.json
  nodejs/npm/linux-arm64-gnu/package.json
  nodejs/npm/linux-x64-gnu/package.json
  nodejs/npm/win32-x64-msvc/package.json
  nodejs/package.json
  rust/ffi/node/Cargo.toml
  rust/lancedb/Cargo.toml
Due: local-biome-check

Updating package-lock.json
  node/package-lock.json
Due: none

made timeout configurable
  node/src/index.ts
  node/src/remote/client.ts
  node/src/remote/index.ts
Due: none

feat: upgrade to 0.14.2
  Cargo.toml
Due: none

bug(python): infer schema from huggingface dataset
  python/python/lancedb/db.py
  python/python/lancedb/remote/db.py
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
  python/python/tests/test_huggingface.py
Due: none

feat: make timeout configurable for vectordb node SDK (#1443)
  node/src/index.ts
  node/src/remote/client.ts
  node/src/remote/index.ts
Due: none

update migration.md
  docs/mkdocs.yml
  docs/src/migration.md
Due: none

docs: update `migration.md` (#1445)
  docs/mkdocs.yml
  docs/src/migration.md
Due: none

feat(rust): huggingface sentence-transformers
  rust/lancedb/Cargo.toml
  rust/lancedb/examples/sentence_transformers.rs
  rust/lancedb/src/embeddings.rs
  rust/lancedb/src/embeddings/openai.rs
  rust/lancedb/src/embeddings/sentence_transformers.rs
Due: fmt, cargo-check, clippy

clippy
  rust/lancedb/src/embeddings/sentence_transformers.rs
Due: fmt, cargo-check, clippy

ci: switch runner
  .github/workflows/rust.yml
Due: none
