Repository lancedb/lancedb: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, fmt, cargo-check, clippy

local-biome-check:
  name: biome check
  entry: npx @biomejs/biome check --config-path nodejs/biome.json nodejs/
  language: system

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: cargo clippy
  language: system
  args:
  - --workspace
  - --
  - -D
  - warnings
  pass_filenames: false

chore: pr feedback
  rust/lancedb/examples/openai.rs
  rust/lancedb/src/embeddings/openai.rs
Due: fmt, cargo-check, clippy

feat(rust): openai embedding function (#1275)
  rust/lancedb/Cargo.toml
  rust/lancedb/examples/openai.rs
  rust/lancedb/src/embeddings.rs
  rust/lancedb/src/embeddings/openai.rs
  rust/lancedb/tests/embedding_registry_test.rs
Due: fmt, cargo-check, clippy

llama docs update
  docs/src/integrations/llamaIndex.md
Due: none

testing exclusion
  docs/test/md_testing.py
Due: none

update
  python/python/tests/docs/test_embeddings_optional.py
Due: none

fix: update broken blog link on readme (#1310)
  README.md
Due: none

fix: error msg when query vector dim is wrong (#1339)
  node/src/index.ts
  node/src/remote/index.ts
  rust/lancedb/src/query.rs
  rust/lancedb/src/table.rs
  rust/lancedb/src/utils.rs
Due: fmt, cargo-check, clippy

feat(nodejs): table.toArrow function (#1282)
  nodejs/__test__/table.test.ts
  nodejs/lancedb/table.ts
Due: local-biome-check

rebase to main
  Cargo.toml
  rust/lancedb/Cargo.toml
  rust/lancedb/src/query.rs
  rust/lancedb/src/table.rs
Due: fmt, cargo-check, clippy

add tests
  rust/lancedb/src/query.rs
  rust/lancedb/src/table.rs
Due: fmt, cargo-check, clippy

e
  rust/lancedb/src/query.rs
Due: fmt, cargo-check, clippy

fix lint
  rust/lancedb/src/remote/table.rs
Due: fmt, cargo-check, clippy

feat(rust): allow to create execution plan on queries (#1350)
  Cargo.toml
  rust/lancedb/Cargo.toml
  rust/lancedb/src/query.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Due: fmt, cargo-check, clippy

update mkdocs
  docs/mkdocs.yml
Due: none

Add basic fragment read
  java/dev/checkstyle.xml
  java/pom.xml
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/LanceDataSource.java
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/LanceInputPartition.java
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/LancePartitionReader.java
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/LanceScan.java
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/LanceScanBuilder.java
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/LanceSplit.java
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/LanceTable.java
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/internal/LanceConfig.java
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/internal/LanceDataSourceReadOptions.java
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/internal/LanceFragmentInternalRowScanner.java
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/internal/LanceFragmentScanner.java
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/internal/LanceReader.java
Due: none

Support row-based scanner
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/LanceSplit.java
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/internal/LanceReader.java
  java/spark/v3.5/src/test/java/com/lancedb/lancedb/spark/LanceConfigTest.java
  java/spark/v3.5/src/test/java/com/lancedb/lancedb/spark/LanceFragmentInternalRowScannerTest.java
  java/spark/v3.5/src/test/java/com/lancedb/lancedb/spark/LanceReaderTest.java
  java/spark/v3.5/src/test/java/com/lancedb/lancedb/spark/SparkLanceConnectorTest.java
  java/spark/v3.5/src/test/java/com/lancedb/lancedb/spark/TestUtils.java
Due: none

Support columnar reader
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/LanceColumnarPartitionReader.java
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/LanceRowPartitionReader.java
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/LanceScan.java
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/internal/LanceFragmentColumnarBatchScanner.java
  java/spark/v3.5/src/test/java/com/lancedb/lancedb/spark/LanceColumnarPartitionReaderTest.java
  java/spark/v3.5/src/test/java/com/lancedb/lancedb/spark/LanceFragmentColumnarBatchScannerTest.java
  java/spark/v3.5/src/test/java/com/lancedb/lancedb/spark/LanceReaderTest.java
  java/spark/v3.5/src/test/java/com/lancedb/lancedb/spark/TestUtils.java
Due: none

Add more test cases
  java/spark/v3.5/pom.xml
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/LanceRowPartitionReader.java
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/LanceScan.java
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/LanceSplit.java
  java/spark/v3.5/src/main/java/com/lancedb/lancedb/spark/internal/LanceReader.java
  java/spark/v3.5/src/test/java/com/lancedb/lancedb/spark/SparkLanceConnectorTest.java
Due: none

feat(nodejs): merge insert
  nodejs/__test__/table.test.ts
  nodejs/lancedb/merge.ts
  nodejs/lancedb/table.ts
  nodejs/src/lib.rs
  nodejs/src/merge.rs
  nodejs/src/table.rs
  rust/lancedb/src/table/merge.rs
Due: local-biome-check, fmt, cargo-check, clippy

fix(nodejs): better support for f16 and f64 (#1343)
  nodejs/__test__/embedding.test.ts
  nodejs/__test__/table.test.ts
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/embedding/embedding_function.ts
  nodejs/lancedb/query.ts
  nodejs/lancedb/table.ts
Due: local-biome-check

resolve merge conflicts
  nodejs/lancedb/table.ts
Due: local-biome-check

fix tests
  nodejs/__test__/table.test.ts
Due: local-biome-check

feat(nodejs): table.search functionality (#1341)
  nodejs/__test__/table.test.ts
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/embedding/embedding_function.ts
  nodejs/lancedb/embedding/registry.ts
  nodejs/lancedb/query.ts
  nodejs/lancedb/table.ts
Due: local-biome-check

feat: add fast path to dataset reload
  rust/lancedb/src/table/dataset.rs
Due: fmt, cargo-check, clippy

feat: add fast path to dataset reload (#1354)
  rust/lancedb/src/table/dataset.rs
Due: fmt, cargo-check, clippy

Make it possible to use the v2 format in lancedb
  Cargo.toml
  nodejs/__test__/connection.test.ts
  nodejs/lancedb/connection.ts
  nodejs/lancedb/query.ts
  nodejs/src/connection.rs
  nodejs/src/lib.rs
  nodejs/src/query.rs
  python/pyproject.toml
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/db.py
  python/python/lancedb/query.py
  python/python/tests/test_db.py
  python/src/connection.rs
  python/src/query.rs
  rust/lancedb/src/connection.rs
  rust/lancedb/src/table.rs
  rust/lancedb/tests/embedding_registry_test.rs
Due: local-biome-check, fmt, cargo-check, clippy

Remove unintentional formatting changes and local path
  Cargo.toml
  python/pyproject.toml
Due: none

feat: fast path for checkout_latest
  rust/lancedb/src/table/dataset.rs
Due: fmt, cargo-check, clippy

Address CI failures
  nodejs/lancedb/query.ts
  python/src/query.rs
Due: local-biome-check, fmt, cargo-check, clippy

feat: fast path for checkout_latest (#1355)
  rust/lancedb/src/table/dataset.rs
Due: fmt, cargo-check, clippy

feat: make it possible to opt in to using the v2 format (#1352)
  Cargo.toml
  nodejs/__test__/connection.test.ts
  nodejs/lancedb/connection.ts
  nodejs/lancedb/query.ts
  nodejs/src/connection.rs
  nodejs/src/lib.rs
  nodejs/src/query.rs
  python/pyproject.toml
  python/python/lancedb/_lancedb.pyi
  python/python/lancedb/db.py
  python/python/lancedb/query.py
  python/python/tests/test_db.py
  python/src/connection.rs
  python/src/query.rs
  rust/lancedb/src/connection.rs
  rust/lancedb/src/table.rs
  rust/lancedb/tests/embedding_registry_test.rs
Due: local-biome-check, fmt, cargo-check, clippy

Added the ability to set tokenizer_name, when creating fts index
  python/python/lancedb/fts.py
  python/python/lancedb/table.py
Due: none

Updated docs with a description of how to specifify tokenizer in fts index
  docs/src/fts.md
Due: none

udpate
  docs/src/basic.md
Due: none

Bump lance to 0.12.1
  Cargo.toml
  python/pyproject.toml
Due: none

feat: bump lance dependency to 0.12.1 (#1357)
  Cargo.toml
  python/pyproject.toml
Due: none

Bump version: 0.8.2-beta.0 → 0.8.2
  python/.bumpversion.toml
  python/Cargo.toml
Due: none

Bump version: 0.8.1 → 0.8.2-beta.0
  python/.bumpversion.toml
  python/Cargo.toml
Due: none

Bump version: 0.5.1 → 0.5.2-beta.0
  .bumpversion.toml
  node/package.json
  nodejs/npm/darwin-arm64/package.json
  nodejs/npm/darwin-x64/package.json
  nodejs/npm/linux-arm64-gnu/package.json
  nodejs/npm/linux-x64-gnu/package.json
  nodejs/npm/win32-x64-msvc/package.json
  nodejs/package.json
  rust/ffi/node/Cargo.toml
  rust/lancedb/Cargo.toml
Due: local-biome-check

Path conditions:
  local-biome-check: any of: nodejs/.*, but not: nodejs/lancedb/native.d.ts|nodejs/dist/.*
  fmt: any of: .*\.rs$ and \.rs$
  cargo-check: any of: .*\.rs$ and \.rs$
  clippy: any of: .*\.rs$ and \.rs$
