Repository lancedb/lancedb: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, fmt, cargo-check, clippy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.2.2
    hooks:
    - id: ruff
- repo: local
  hooks:
    - id: local-biome-check
      name: biome check
      entry: npx @biomejs/biome check --config-path nodejs/biome.json nodejs/
      language: system
      types: [text]
      files: "nodejs/.*"
      exclude: nodejs/lancedb/native.d.ts|nodejs/dist/.*
- repo: local
  hooks:
  - id: fmt
    name: cargo fmt
    description: Format files with cargo fmt.
    entry: cargo fmt
    language: system
    types: [rust]
    args: [--]
    files: '.*\.rs$'

  - id: cargo-check
    name: cargo check
    description: Check the package for errors.
    entry: cargo check
    language: system
    types: [rust]
    pass_filenames: false
    args: [--all]
    files: '.*\.rs$'

  - id: clippy
    name: cargo clippy
    description: Lint rust sources
    entry: cargo clippy
    language: system
    args: [--workspace, --, -D, warnings]
    types: [rust]
    pass_filenames: false
    files: '.*\.rs$'

cleanup
  nodejs/src/table.rs
  rust/lancedb/src/index.rs
  rust/lancedb/src/table.rs
Due: local-biome-check, fmt, cargo-check, clippy

allow deprecated in old node sdk
  rust/ffi/node/src/table.rs
Due: fmt, cargo-check, clippy

remove unused code
  nodejs/__test__/table.test.ts
Due: local-biome-check

use correct index name in test
  nodejs/__test__/table.test.ts
  nodejs/lancedb/table.ts
Due: local-biome-check

fix imports and exports
  nodejs/lancedb/index.ts
  nodejs/lancedb/remote/connection.ts
  nodejs/lancedb/remote/index.ts
  nodejs/lancedb/remote/table.ts
  nodejs/lancedb/table.ts
Due: local-biome-check

cleanup
  nodejs/lancedb/table.ts
  nodejs/src/table.rs
Due: local-biome-check, fmt, cargo-check, clippy

cleanup
  rust/lancedb/src/table.rs
Due: fmt, cargo-check, clippy

add table.name and support old lancedb.connect args
  nodejs/lancedb/connection.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/remote/table.ts
  nodejs/lancedb/table.ts
  nodejs/src/connection.rs
  nodejs/src/lib.rs
  nodejs/src/table.rs
Due: local-biome-check, fmt, cargo-check, clippy

clippy
  rust/lancedb/src/table.rs
Due: fmt, cargo-check, clippy

update tests
  nodejs/__test__/table.test.ts
Due: local-biome-check

Upgrade to 0.12.2-beta.2
  .github/workflows/build_linux_wheel/action.yml
  .github/workflows/build_mac_wheel/action.yml
  .github/workflows/build_windows_wheel/action.yml
  .github/workflows/python.yml
  Cargo.toml
  python/pyproject.toml
Due: none

Trying an alternative way of passing the extra index url
  .github/workflows/build_linux_wheel/action.yml
  .github/workflows/build_mac_wheel/action.yml
  .github/workflows/build_windows_wheel/action.yml
Due: none

Adding extra-index-url to run tests action
  .github/workflows/run_tests/action.yml
Due: none

feat: upgrade lance to 0.12.2-beta.2 (#1381)
  .github/workflows/build_linux_wheel/action.yml
  .github/workflows/build_mac_wheel/action.yml
  .github/workflows/build_windows_wheel/action.yml
  .github/workflows/python.yml
  .github/workflows/run_tests/action.yml
  Cargo.toml
  python/pyproject.toml
Due: none

Fixed spelling mistake
  docs/src/fts.md
Due: none

Added unit test of index creation with stemming enabled
  python/python/tests/test_fts.py
Due: none

wip
  nodejs/__test__/connection.test.ts
  nodejs/lancedb/connection.ts
  nodejs/lancedb/remote/connection.ts
  nodejs/package-lock.json
  nodejs/package.json
Due: local-biome-check

fix typo
  nodejs/lancedb/remote/client.ts
Due: local-biome-check

update warning message
  nodejs/lancedb/remote/connection.ts
Due: local-biome-check

update docstring
  nodejs/lancedb/table.ts
  nodejs/package-lock.json
Due: local-biome-check

feat(nodejs): feature parity [1/N] - remote table (#1378)
  .pre-commit-config.yaml
  nodejs/biome.json
  nodejs/lancedb/connection.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/remote/client.ts
  nodejs/lancedb/remote/connection.ts
  nodejs/lancedb/remote/index.ts
  nodejs/lancedb/remote/table.ts
  nodejs/lancedb/table.ts
  nodejs/lancedb/util.ts
  nodejs/package-lock.json
  nodejs/package.json
Due: local-biome-check

fix compile errors
  nodejs/lancedb/table.ts
Due: local-biome-check

fix clippy
  rust-toolchain.toml
  rust/lancedb/src/polars_arrow_convertors.rs
Due: fmt, cargo-check, clippy

feat: add index name to "listIndices"
  nodejs/__test__/table.test.ts
  nodejs/package-lock.json
  nodejs/src/table.rs
Due: local-biome-check, fmt, cargo-check, clippy

feat: add index name to "listIndices"
  rust/lancedb/src/index.rs
  rust/lancedb/src/table.rs
Due: fmt, cargo-check, clippy

feat: add "filter" alias for "where"
  nodejs/__test__/table.test.ts
  nodejs/lancedb/query.ts
Due: local-biome-check

chore(rust): lock toolchain & fix clippy (#1389)
  rust-toolchain.toml
  rust/lancedb/src/polars_arrow_convertors.rs
Due: fmt, cargo-check, clippy

feat: arrow compatibility across versions
  nodejs/__test__/table.test.ts
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/connection.ts
  nodejs/lancedb/query.ts
  nodejs/lancedb/remote/connection.ts
  nodejs/lancedb/sanitize.ts
  nodejs/lancedb/table.ts
Due: local-biome-check

feat: upgrade to 0.12.4
  Cargo.toml
Due: none

feat: enable stemming (#1356)
  docs/src/fts.md
  python/python/lancedb/fts.py
  python/python/lancedb/table.py
  python/python/tests/test_fts.py
Due: none

feat(nodejs): feature parity [2/N] - add `table.name` and `lancedb.connect({args})` (#1380)
  nodejs/lancedb/connection.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/remote/table.ts
  nodejs/lancedb/table.ts
  nodejs/src/connection.rs
  nodejs/src/lib.rs
  nodejs/src/table.rs
Due: local-biome-check, fmt, cargo-check, clippy

feat(nodejs): feature parity [3/N] - `createTable({name, data, ...options})` (#1386)
  nodejs/__test__/connection.test.ts
  nodejs/lancedb/connection.ts
  nodejs/lancedb/remote/connection.ts
  nodejs/package-lock.json
  nodejs/package.json
Due: local-biome-check

i have no idea why this fixes it
  node/package.json
Due: none

docs: add tip about lzma linking
  rust/lancedb/README.md
Due: none

fix(node): node build (#1396)
  node/package.json
Due: none

feat(nodejs): feature parity [4/N] - add 'name' to 'IndexConfig' for 'listIndices' (#1390)
  nodejs/__test__/table.test.ts
  nodejs/package-lock.json
  nodejs/src/table.rs
  rust/lancedb/src/index.rs
  rust/lancedb/src/table.rs
Due: local-biome-check, fmt, cargo-check, clippy

ci(node): add description and keywords for lancedb package
  nodejs/package.json
Due: local-biome-check

feat(nodejs): feature parity [5/N] - add `query.filter()` alias (#1391)
  nodejs/__test__/table.test.ts
  nodejs/lancedb/query.ts
Due: local-biome-check

fix typo
  rust/lancedb/src/table.rs
Due: fmt, cargo-check, clippy

ci(node): add description and keywords for lancedb package (#1398)
  nodejs/package.json
Due: local-biome-check
