Repository lancedb/lancedb: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, fmt, cargo-check, clippy

local-biome-check:
  name: biome check
  entry: npx @biomejs/biome check --config-path nodejs/biome.json nodejs/
  language: system

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: cargo clippy
  language: system
  args:
  - --workspace
  - --
  - -D
  - warnings
  pass_filenames: false

feat(nodejs): table.indexStats (#1361)
  nodejs/__test__/embedding.test.ts
  nodejs/__test__/table.test.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/remote/table.ts
  nodejs/lancedb/table.ts
  nodejs/src/table.rs
  rust/ffi/node/src/table.rs
  rust/lancedb/src/table.rs
Due: local-biome-check, fmt, cargo-check, clippy

Hook up custom object store registries
  Cargo.toml
  rust/lancedb/Cargo.toml
  rust/lancedb/src/connection.rs
  rust/lancedb/src/table.rs
Due: fmt, cargo-check, clippy

doc: Fixes polars formatting in docs
  docs/src/guides/tables.md
Due: none

update explain_plan example with create_table
  python/python/lancedb/query.py
Due: none

add explain_plan to LanceQueryBuilder
  python/python/lancedb/query.py
  python/python/tests/test_table.py
Due: none

remove explain_plan from `table.py`
  python/python/lancedb/table.py
Due: none

test explain_plan in query
  python/python/tests/test_query.py
  python/python/tests/test_table.py
Due: none

fix doctest example
  python/python/lancedb/query.py
Due: none

feat(python): add the explain_plan function (#1288)
  python/python/lancedb/table.py
  python/python/tests/test_table.py
Due: none

expose explain_plan in rust lib
  rust/lancedb/src/query.rs
  rust/lancedb/src/table.rs
Due: fmt, cargo-check, clippy

expose to nodejs sdk
  nodejs/__test__/table.test.ts
  nodejs/lancedb/query.ts
  nodejs/src/query.rs
Due: local-biome-check, fmt, cargo-check, clippy

python add docs for async method
  python/python/lancedb/query.py
Due: none

expose explain_plan in python async sdk
  python/python/lancedb/query.py
  python/python/tests/test_query.py
  python/src/query.rs
Due: fmt, cargo-check, clippy

update nodejs example doc
  nodejs/lancedb/query.ts
Due: local-biome-check

fix merge conflict
  rust/lancedb/src/table.rs
Due: fmt, cargo-check, clippy

use promote_options with concat_tables
  python/python/lancedb/rerankers/base.py
Due: none

lint
  python/python/lancedb/rerankers/base.py
Due: none

format
  python/python/lancedb/rerankers/base.py
Due: none

Upgrade to lance 0.12.3
  Cargo.toml
  python/pyproject.toml
Due: none

Upgrade to 0.13.0
  Cargo.toml
  python/pyproject.toml
Due: none

feat: upgrade to lance 0.13.0 (#1404)
  Cargo.toml
  python/pyproject.toml
Due: none

Bump version: 0.8.2 → 0.9.0-beta.0
  python/.bumpversion.toml
  python/Cargo.toml
Due: none

Bump version: 0.9.0-beta.0 → 0.9.0
  python/.bumpversion.toml
  python/Cargo.toml
Due: none

Bump version: 0.6.0-beta.0 → 0.6.0
  .bumpversion.toml
  node/package.json
  nodejs/npm/darwin-arm64/package.json
  nodejs/npm/darwin-x64/package.json
  nodejs/npm/linux-arm64-gnu/package.json
  nodejs/npm/linux-x64-gnu/package.json
  nodejs/npm/win32-x64-msvc/package.json
  nodejs/package.json
  rust/ffi/node/Cargo.toml
  rust/lancedb/Cargo.toml
Due: local-biome-check

Bump version: 0.5.2 → 0.6.0-beta.0
  .bumpversion.toml
  node/package.json
  nodejs/npm/darwin-arm64/package.json
  nodejs/npm/darwin-x64/package.json
  nodejs/npm/linux-arm64-gnu/package.json
  nodejs/npm/linux-x64-gnu/package.json
  nodejs/npm/win32-x64-msvc/package.json
  nodejs/package.json
  rust/ffi/node/Cargo.toml
  rust/lancedb/Cargo.toml
Due: local-biome-check

Updating package-lock.json
  node/package-lock.json
Due: none

support embedding functions in remote table
  python/python/lancedb/remote/table.py
Due: none

docs: add tip about lzma linking (#1397)
  rust/lancedb/README.md
Due: none

format
  python/python/lancedb/remote/table.py
Due: none

docs: fixes polars formatting in docs (#1400)
  docs/src/guides/tables.md
Due: none

feat(nodejs): feature parity [6/N] - make public interface work with multiple arrow versions (#1392)
  nodejs/__test__/table.test.ts
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/connection.ts
  nodejs/lancedb/query.ts
  nodejs/lancedb/remote/connection.ts
  nodejs/lancedb/sanitize.ts
  nodejs/lancedb/table.ts
  rust/lancedb/src/table.rs
Due: local-biome-check, fmt, cargo-check, clippy

update branding
  docs/mkdocs.yml
  docs/src/styles/global.css
Due: none

feat: support to create more vector index types
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
Due: none

add better typehints for registry
  nodejs/lancedb/embedding/embedding_function.ts
  nodejs/lancedb/embedding/openai.ts
  nodejs/lancedb/embedding/registry.ts
Due: local-biome-check

cleanup
  nodejs/lancedb/embedding/openai.ts
Due: local-biome-check

temporarily use local dependencies
  Cargo.toml
Due: none

fix type error
  nodejs/__test__/registry.test.ts
  nodejs/lancedb/embedding/registry.ts
Due: local-biome-check

cleanup
  nodejs/lancedb/embedding/registry.ts
Due: local-biome-check

fix
  python/python/lancedb/remote/table.py
Due: none

Path conditions:
  local-biome-check: any of: nodejs/.*, but not: nodejs/lancedb/native.d.ts|nodejs/dist/.*
  fmt: any of: .*\.rs$ and \.rs$
  cargo-check: any of: .*\.rs$ and \.rs$
  clippy: any of: .*\.rs$ and \.rs$
