Repository lancedb/lancedb: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, fmt, cargo-check, clippy

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
-   repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.2.2
    hooks:
    - id: ruff
- repo: local
  hooks:
    - id: local-biome-check
      name: biome check
      entry: npx @biomejs/biome check --config-path nodejs/biome.json nodejs/
      language: system
      types: [text]
      files: "nodejs/.*"
      exclude: nodejs/lancedb/native.d.ts|nodejs/dist/.*
- repo: local
  hooks:
  - id: fmt
    name: cargo fmt
    description: Format files with cargo fmt.
    entry: cargo fmt
    language: system
    types: [rust]
    args: [--]
    files: '.*\.rs$'

  - id: cargo-check
    name: cargo check
    description: Check the package for errors.
    entry: cargo check
    language: system
    types: [rust]
    pass_filenames: false
    args: [--all]
    files: '.*\.rs$'

  - id: clippy
    name: cargo clippy
    description: Lint rust sources
    entry: cargo clippy
    language: system
    args: [--workspace, --, -D, warnings]
    types: [rust]
    pass_filenames: false
    files: '.*\.rs$'

a
  docs/openapi.yml
Due: none

feat: make .search never return a promise
  nodejs/__test__/table.test.ts
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/query.ts
  nodejs/lancedb/remote/table.ts
  nodejs/lancedb/table.ts
Due: local-biome-check

fix typings
  nodejs/lancedb/embedding/embedding_function.ts
Due: local-biome-check

update comments
  nodejs/lancedb/table.ts
Due: local-biome-check

index apis
  docs/openapi.yml
Due: none

Update docs/openapi.yml
  docs/openapi.yml
Due: none

change option
  docs/openapi.yml
Due: none

docs: add merge insert, create index and create scalar index to public rest api doc (#1420)
  docs/openapi.yml
Due: none

fix linting issues
  rust/lancedb/src/remote/table.rs
Due: fmt, cargo-check, clippy

add jina reranker
  python/python/lancedb/rerankers/__init__.py
  python/python/lancedb/rerankers/jina.py
  python/python/tests/test_rerankers.py
Due: none

feat: support to create more vector index types (#1407)
  python/python/lancedb/remote/table.py
  python/python/lancedb/table.py
Due: none

update doc
  .gitignore
  docs/src/embeddings/embedding_functions.md
Due: none

update example
  nodejs/examples/basic.ts
Due: local-biome-check

format
  python/python/lancedb/query.py
Due: none

feat: add the explain_plan function (#1328)
  nodejs/__test__/table.test.ts
  nodejs/lancedb/query.ts
  nodejs/src/query.rs
  python/python/lancedb/query.py
  python/python/tests/test_query.py
  python/src/query.rs
  rust/lancedb/src/query.rs
  rust/lancedb/src/remote/table.rs
  rust/lancedb/src/table.rs
Due: local-biome-check, fmt, cargo-check, clippy

feat(nodejs): make tbl.search chainable (#1421)
  nodejs/__test__/table.test.ts
  nodejs/lancedb/arrow.ts
  nodejs/lancedb/embedding/embedding_function.ts
  nodejs/lancedb/query.ts
  nodejs/lancedb/remote/table.ts
  nodejs/lancedb/table.ts
Due: local-biome-check

updated integration docs, fixed links
  docs/mkdocs.yml
  docs/src/integrations/langchain.md
  docs/src/integrations/llamaIndex.md
  docs/src/notebooks/LlamaIndex_example.ipynb
  docs/src/notebooks/langchain_example.ipynb
Due: none

docs: update lntegration docs & fixed links (#1423)
  docs/mkdocs.yml
  docs/src/integrations/langchain.md
  docs/src/integrations/llamaIndex.md
  docs/src/notebooks/LlamaIndex_example.ipynb
  docs/src/notebooks/langchain_example.ipynb
Due: none

feat: add Jina integration in Python for Embedding and Reranker
  python/python/lancedb/embeddings/__init__.py
  python/python/lancedb/embeddings/jinaai.py
  python/python/lancedb/rerankers/__init__.py
  python/python/lancedb/rerankers/jinaai.py
Due: none

docs: add documentation
  docs/src/embeddings/index.md
  docs/src/reranking/jina.md
  python/python/lancedb/embeddings/jinaai.py
  python/python/lancedb/rerankers/jinaai.py
Due: none

feat: add Jina integration in Python for Embedding and Reranker (#1424)
  docs/src/embeddings/index.md
  docs/src/reranking/jina.md
  python/python/lancedb/embeddings/__init__.py
  python/python/lancedb/embeddings/jinaai.py
  python/python/lancedb/rerankers/__init__.py
  python/python/lancedb/rerankers/jinaai.py
Due: none

be able to propogate error
  rust/lancedb/src/table.rs
Due: fmt, cargo-check, clippy

chore: propagate error for table index stats (#1426)
  rust/lancedb/src/table.rs
Due: fmt, cargo-check, clippy

local ref
  Cargo.toml
Due: none

bump lance version
  Cargo.toml
Due: none

docs: add jina reranker to index
  docs/src/reranking/index.md
Due: none

bump lance to 0.14
  Cargo.toml
  python/pyproject.toml
Due: none

fix doc test
  python/python/lancedb/query.py
Due: none

chore: bump lance to 0.14 (#1430)
  Cargo.toml
  python/pyproject.toml
  python/python/lancedb/query.py
Due: none

add tests
  rust/lancedb/src/connection.rs
  rust/lancedb/src/query.rs
  rust/lancedb/src/table.rs
Due: fmt, cargo-check, clippy

feat(rust): enable fast search flag in rust (#1432)
  rust/lancedb/src/connection.rs
  rust/lancedb/src/query.rs
  rust/lancedb/src/table.rs
Due: fmt, cargo-check, clippy

docs: fix embeddings to fit examples
  docs/mkdocs.yml
  docs/src/embeddings/default_embedding_functions.md
  python/python/lancedb/embeddings/jinaai.py
Due: none

fix admonitions
  docs/src/ann_indexes.md
  docs/src/embeddings/embedding_functions.md
  docs/src/embeddings/index.md
  docs/src/guides/storage.md
  docs/src/guides/tables.md
  docs/src/search.md
  docs/src/sql.md
Due: none

fix: explain plan
  nodejs/lancedb/query.ts
Due: local-biome-check

fix(nodejs): explain plan (#1434)
  nodejs/lancedb/query.ts
Due: local-biome-check

add fast search to rest api
  docs/openapi.yml
Due: none

docs: add fast search to openapi.yml (#1435)
  docs/openapi.yml
Due: none

pr feedback
  docs/src/ann_indexes.md
  docs/src/basic.md
  docs/src/guides/tables.md
  nodejs/examples/basic.ts
  nodejs/native.d.ts
Due: local-biome-check

pr feedback
  docs/src/guides/tables.md
Due: none

Update linear_combination.py
  python/python/lancedb/rerankers/linear_combination.py
Due: none
