Repository lancedb/lancedb: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, fmt, cargo-check, clippy

local-biome-check:
  name: biome check
  entry: npx @biomejs/biome check --config-path nodejs/biome.json nodejs/
  language: system

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: cargo clippy
  language: system
  args:
  - --workspace
  - --
  - -D
  - warnings
  pass_filenames: false

Bump version: 0.5.2-beta.0 → 0.5.2
  .bumpversion.toml
  node/package.json
  nodejs/npm/darwin-arm64/package.json
  nodejs/npm/darwin-x64/package.json
  nodejs/npm/linux-arm64-gnu/package.json
  nodejs/npm/linux-x64-gnu/package.json
  nodejs/npm/win32-x64-msvc/package.json
  nodejs/package.json
  rust/ffi/node/Cargo.toml
  rust/lancedb/Cargo.toml
Due: local-biome-check

Updating package-lock.json
  node/package-lock.json
Due: none

pr feedback
  nodejs/__test__/table.test.ts
  nodejs/lancedb/merge.ts
  nodejs/lancedb/table.ts
  nodejs/package-lock.json
Due: local-biome-check

Change build machine for linux arm
  .github/workflows/npm-publish.yml
Due: none

feat(nodejs): indexStats
  nodejs/__test__/table.test.ts
  nodejs/lancedb/table.ts
  nodejs/src/table.rs
  rust/lancedb/src/index.rs
  rust/lancedb/src/table.rs
Due: local-biome-check, fmt, cargo-check, clippy

fix clippy
  nodejs/src/table.rs
Due: local-biome-check, fmt, cargo-check, clippy

reexport types
  nodejs/lancedb/index.ts
  nodejs/lancedb/table.ts
Due: local-biome-check

add status to remote listIndices return
  node/src/index.ts
Due: none

fix broken test
  nodejs/__test__/table.test.ts
Due: local-biome-check

chore: change build machine for linux arm (#1360)
  .github/workflows/npm-publish.yml
Due: none

- refer #1264 - fixed minor documentation issue
  python/python/lancedb/table.py
Due: none

Update docs/src/basic.md
  docs/src/basic.md
Due: none

Update docs/src/guides/tuning_retrievers/2_reranking.md
  docs/src/guides/tuning_retrievers/2_reranking.md
Due: none

Update docs/src/guides/tuning_retrievers/1_query_types.md
  docs/src/guides/tuning_retrievers/1_query_types.md
Due: none

update
  docs/mkdocs.yml
  docs/src/basic.md
Due: none

docs: add retriever guide, address minor onboarding feedbacks & enhancement (#1326)
  docs/mkdocs.yml
  docs/src/basic.md
  docs/src/embeddings/default_embedding_functions.md
  docs/src/fts.md
  docs/src/guides/tables.md
  docs/src/guides/tuning_retrievers/1_query_types.md
  docs/src/guides/tuning_retrievers/2_reranking.md
  docs/src/hybrid_search/eval.md
  docs/test/md_testing.py
  python/python/tests/docs/test_embeddings_optional.py
Due: none

fix
  docs/src/basic.md
Due: none

docs: fix example path (#1367)
  docs/src/basic.md
Due: none

fix: add status to remote listIndices return (#1364)
  node/src/index.ts
Due: none

add warning for lancedb embedding api saas
  docs/src/embeddings/embedding_functions.md
Due: none

update
  docs/src/embeddings/embedding_functions.md
Due: none

docs: add note about embedding api not being available on cloud (#1371)
  docs/src/embeddings/embedding_functions.md
Due: none

Fix the JVM crash when using jdk 8
  java/core/lancedb-jni/src/ffi.rs
Due: fmt, cargo-check, clippy

fix(java): the JVM crash when using jdk 8 (#1372)
  java/core/lancedb-jni/src/ffi.rs
Due: fmt, cargo-check, clippy

docs: llama-index integration (#1347)
  docs/mkdocs.yml
  docs/src/integrations/llamaIndex.md
  docs/test/md_testing.py
Due: none

change variables to camel case
  node/src/index.ts
  node/src/remote/index.ts
Due: none

Use JS naming convention in new index stats fields
  node/src/index.ts
  node/src/remote/index.ts
Due: none

fix: use JS naming convention in new index stats fields (#1377)
  node/src/index.ts
  node/src/remote/index.ts
Due: none

wip: remote js client
  .pre-commit-config.yaml
  nodejs/biome.json
  nodejs/lancedb/connection.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/remote/client.ts
  nodejs/lancedb/remote/connection.ts
  nodejs/lancedb/remote/table.ts
  nodejs/lancedb/table.ts
  nodejs/lancedb/util.ts
  nodejs/package-lock.json
  nodejs/package.json
Due: local-biome-check

feat(nodejs): remote table and connection
  nodejs/lancedb/connection.ts
  nodejs/lancedb/index.ts
  nodejs/lancedb/remote/client.ts
  nodejs/lancedb/remote/connection.ts
  nodejs/lancedb/remote/table.ts
  nodejs/lancedb/table.ts
Due: local-biome-check

minor cleanup
  nodejs/biome.json
  nodejs/lancedb/connection.ts
  nodejs/lancedb/remote/connection.ts
  nodejs/package.json
Due: local-biome-check

minor cleanup
  nodejs/lancedb/remote/table.ts
  nodejs/lancedb/util.ts
Due: local-biome-check

feat(nodejs): merge insert (#1351)
  nodejs/__test__/table.test.ts
  nodejs/lancedb/merge.ts
  nodejs/lancedb/table.ts
  nodejs/package-lock.json
  nodejs/src/lib.rs
  nodejs/src/merge.rs
  nodejs/src/table.rs
  rust/lancedb/src/table/merge.rs
Due: local-biome-check, fmt, cargo-check, clippy

docs: remove code-block:: python from docs (#1366)
  python/python/lancedb/table.py
Due: none

use indexname instead of uuid
  nodejs/__test__/embedding.test.ts
  nodejs/__test__/table.test.ts
  nodejs/src/table.rs
  rust/lancedb/src/table.rs
Due: local-biome-check, fmt, cargo-check, clippy

Path conditions:
  local-biome-check: any of: nodejs/.*, but not: nodejs/lancedb/native.d.ts|nodejs/dist/.*
  fmt: any of: .*\.rs$ and \.rs$
  cargo-check: any of: .*\.rs$ and \.rs$
  clippy: any of: .*\.rs$ and \.rs$
