Repository lancedb/lancedb: changes, and which pre-commit hooks are due for each by the changed paths.
All: local-biome-check, fmt, cargo-check, clippy

local-biome-check:
  name: biome check
  entry: npx @biomejs/biome check --config-path nodejs/biome.json nodejs/
  language: system

fmt:
  name: cargo fmt
  description: Format files with cargo fmt.
  entry: cargo fmt
  language: system
  args:
  - --

cargo-check:
  name: cargo check
  description: Check the package for errors.
  entry: cargo check
  language: system
  pass_filenames: false
  args:
  - --all

clippy:
  name: cargo clippy
  description: Lint rust sources
  entry: cargo clippy
  language: system
  args:
  - --workspace
  - --
  - -D
  - warnings
  pass_filenames: false

quickstart
  docs/src/basic.md
  docs/src/basic_legacy.ts
  nodejs/__test__/docs/basic.test.ts
  nodejs/__test__/docs/embedding.test.ts
  rust/lancedb/examples/openai.rs
Due: local-biome-check, fmt, cargo-check, clippy

working with tables
  docs/src/guides/tables.md
  nodejs/__test__/docs/basic.test.ts
  nodejs/__test__/docs/tables.test.ts
  nodejs/biome.json
Due: local-biome-check

test: add dynamodb integration tests
  nodejs/__test__/s3_integration.test.ts
  nodejs/package-lock.json
  nodejs/package.json
  python/python/tests/test_s3.py
  rust/lancedb/Cargo.toml
  rust/lancedb/tests/object_store_test.rs
Due: local-biome-check, fmt, cargo-check, clippy

ann-indices
  .pre-commit-config.yaml
  docs/src/ann_indexes.md
  docs/src/basic.md
  docs/src/guides/storage.md
  docs/src/guides/tables.md
  nodejs/__test__/docs/basic.test.ts
  nodejs/__test__/docs/embedding.test.ts
  nodejs/__test__/docs/tables.test.ts
  nodejs/__test__/tsconfig.json
  nodejs/examples/ann_indexes.ts
  nodejs/examples/basic.ts
  nodejs/examples/embedding.ts
  nodejs/examples/jsconfig.json
  nodejs/examples/package-lock.json
  nodejs/examples/package.json
  nodejs/package-lock.json
Due: local-biome-check

filtering
  docs/src/search.md
  docs/src/sql.md
  nodejs/examples/.gitignore
  nodejs/examples/embedding.ts
  nodejs/examples/filtering.ts
  nodejs/examples/search.ts
Due: local-biome-check

storage
  docs/src/guides/storage.md
Due: none

update pkg json
  nodejs/examples/package.json
Due: local-biome-check

Some hacks to get the sync Python API working
  python/python/lancedb/db.py
  python/python/lancedb/table.py
  python/python/lancedb/util.py
  python/python/tests/test_s3.py
Due: none

embeddings
  docs/src/embeddings/embedding_functions.md
  docs/src/embeddings/index.md
  nodejs/examples/basic.ts
  nodejs/examples/embedding.ts
  nodejs/examples/package-lock.json
Due: local-biome-check

document it
  docs/src/guides/storage.md
Due: none

fix naming convention errors
  .pre-commit-config.yaml
  nodejs/__test__/s3_integration.test.ts
  nodejs/biome.json
  nodejs/lancedb/remote/client.ts
  nodejs/package-lock.json
  nodejs/package.json
Due: local-biome-check

add cloud restapi
  docs/mkdocs.yml
  docs/openapi.yml
  docs/requirements.txt
  docs/src/cloud/rest.md
Due: none

docs: add openapi rest api page (#1413)
  docs/mkdocs.yml
  docs/openapi.yml
  docs/requirements.txt
  docs/src/cloud/rest.md
Due: none

feat: dynamodb commit store support (#1410)
  .pre-commit-config.yaml
  docs/src/guides/storage.md
  nodejs/__test__/s3_integration.test.ts
  nodejs/biome.json
  nodejs/lancedb/remote/client.ts
  nodejs/package-lock.json
  nodejs/package.json
  python/python/lancedb/db.py
  python/python/lancedb/table.py
  python/python/lancedb/util.py
  python/python/tests/test_s3.py
  rust/lancedb/Cargo.toml
  rust/lancedb/tests/object_store_test.rs
Due: local-biome-check, fmt, cargo-check, clippy

feat: catch unwinds in node bindings
  nodejs/Cargo.toml
  nodejs/package-lock.json
  nodejs/package.json
  nodejs/src/connection.rs
  nodejs/src/iterator.rs
  nodejs/src/merge.rs
  nodejs/src/query.rs
  nodejs/src/table.rs
Due: local-biome-check, fmt, cargo-check, clippy

Pull out common functionality into `build_plan`
  rust/lancedb/src/table.rs
Due: fmt, cargo-check, clippy

add impl to RemoteTable
  rust/lancedb/src/remote/table.rs
Due: fmt, cargo-check, clippy

fix python documentation output
  python/python/lancedb/query.py
Due: none

fix format (ruff)
  python/python/tests/test_query.py
Due: none

table.add() empty param in HF embedding example
  docs/src/embeddings/default_embedding_functions.md
Due: none

TextModel renamed to Words
  docs/src/embeddings/default_embedding_functions.md
Due: none

docs: addresses typos in HF embedding example docs (#1415)
  docs/src/embeddings/default_embedding_functions.md
Due: none

add notebook
  docs/src/notebooks/lancedb_reranking.ipynb
Due: none

docs: add reranking example (#1416)
  docs/src/notebooks/lancedb_reranking.ipynb
Due: none

feat(nodejs): catch unwinds in node bindings (#1414)
  nodejs/Cargo.toml
  nodejs/package-lock.json
  nodejs/package.json
  nodejs/src/connection.rs
  nodejs/src/iterator.rs
  nodejs/src/merge.rs
  nodejs/src/query.rs
  nodejs/src/table.rs
Due: local-biome-check, fmt, cargo-check, clippy

make opean optional, and apache-arrow a peer dep
  nodejs/package.json
Due: local-biome-check

pr feedback
  nodejs/lancedb/embedding/openai.ts
  nodejs/lancedb/embedding/registry.ts
Due: local-biome-check

pr feedback
  nodejs/lancedb/embedding/openai.ts
Due: local-biome-check

lint
  nodejs/biome.json
  nodejs/examples/basic.ts
Due: local-biome-check

update remote table.rs with methods
  rust/lancedb/src/remote/table.rs
Due: fmt, cargo-check, clippy

change runner
  .github/workflows/docs_test.yml
Due: none

only build lancedb node
  node/package.json
Due: none

embedding_functions
  docs/src/embeddings/embedding_functions.md
Due: none

ci: fix nodejs doc test (#1419)
  .github/workflows/docs_test.yml
  node/package.json
Due: none

fix rust lint errors
  rust/lancedb/src/query.rs
  rust/lancedb/src/remote/table.rs
Due: fmt, cargo-check, clippy

ruff ignore line too long because of doc
  python/python/lancedb/query.py
Due: none

feat(nodejs): add better typehints for registry (#1408)
  nodejs/__test__/registry.test.ts
  nodejs/lancedb/embedding/embedding_function.ts
  nodejs/lancedb/embedding/openai.ts
  nodejs/lancedb/embedding/registry.ts
Due: local-biome-check

chore(nodejs): make opean optional, and apache-arrow a peer dep (#1417)
  nodejs/package.json
Due: local-biome-check

add merge insert example
  docs/openapi.yml
Due: none

add some examples
  docs/openapi.yml
Due: none

Path conditions:
  local-biome-check: any of: nodejs/.*, but not: nodejs/lancedb/native.d.ts|nodejs/dist/.*
  fmt: any of: .*\.rs$ and \.rs$
  cargo-check: any of: .*\.rs$ and \.rs$
  clippy: any of: .*\.rs$ and \.rs$
